openapi: 3.0.3
info:
  title: KLIRO API
  version: 1.0.0
  description: |
    Backend API для регистрации, входа, восстановления пароля, Google OAuth, профиля пользователя.
servers:
  - url: https://api.kliro.uz
tags:
  - name: Auth
    description: Регистрация, вход, восстановление пароля, Google OAuth
  - name: User
    description: Профиль пользователя и управление аккаунтом
paths:
  /auth/register:
    post:
      tags: [Auth]
      summary: Регистрация (email или телефон)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '400':
          $ref: '#/components/responses/Error'
  /auth/confirm-otp:
    post:
      tags: [Auth]
      summary: Подтвердить OTP для регистрации
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmOTPRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '400':
          $ref: '#/components/responses/Error'
  /auth/confirm-otp-create:
    post:
      tags: [Auth]
      summary: Создать пользователя после подтверждения OTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmOTPRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '400':
          $ref: '#/components/responses/Error'
  /auth/set-region-password-final:
    post:
      tags: [Auth]
      summary: Установить регион и пароль (завершение регистрации)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetRegionPasswordRequest'
      responses:
        '200':
          $ref: '#/components/responses/TokenResponse'
        '400':
          $ref: '#/components/responses/Error'
  /auth/login:
    post:
      tags: [Auth]
      summary: Вход по email или телефону и паролю
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          $ref: '#/components/responses/TokenResponse'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Запросить OTP для восстановления пароля
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '400':
          $ref: '#/components/responses/Error'
  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Сбросить пароль по OTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '400':
          $ref: '#/components/responses/Error'
  /auth/google:
    get:
      tags: [Auth]
      summary: Начать Google OAuth (редирект)
      responses:
        '302':
          description: Redirect to Google
  /auth/google/callback:
    get:
      tags: [Auth]
      summary: Callback Google OAuth
      parameters:
        - in: query
          name: code
          schema:
            type: string
          required: true
      responses:
        '200':
          $ref: '#/components/responses/TokenResponse'
        '400':
          $ref: '#/components/responses/Error'
  /auth/google/complete:
    post:
      tags: [Auth]
      summary: Завершить регистрацию через Google (указать регион)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCompleteRequest'
      responses:
        '200':
          $ref: '#/components/responses/TokenResponse'
        '400':
          $ref: '#/components/responses/Error'
  /user/profile:
    get:
      tags: [User]
      summary: Получить профиль пользователя
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/UserProfile'
        '401':
          $ref: '#/components/responses/Error'
  /user/update-contact:
    post:
      tags: [User]
      summary: Запросить смену email или телефона (отправка OTP)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '400':
          $ref: '#/components/responses/Error'
  /user/confirm-update-contact:
    post:
      tags: [User]
      summary: Подтвердить смену email или телефона по OTP
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmUpdateContactRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '400':
          $ref: '#/components/responses/Error'
  /user/change-password:
    post:
      tags: [User]
      summary: Сменить пароль
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '400':
          $ref: '#/components/responses/Error'
  /user/change-region:
    post:
      tags: [User]
      summary: Сменить регион
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeRegionRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '400':
          $ref: '#/components/responses/Error'
  /user/add-contact:
    post:
      tags: [User]
      summary: Добавить дополнительный контакт (email или телефон)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContactRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '400':
          $ref: '#/components/responses/Error'
  /user/logout:
    post:
      tags: [User]
      summary: Выйти из аккаунта (logout, blacklist токена)
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '400':
          $ref: '#/components/responses/Error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    RegisterRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        phone:
          type: string
      example:
        email: user@example.com
    ConfirmOTPRequest:
      type: object
      properties:
        email:
          type: string
        phone:
          type: string
        otp:
          type: string
      example:
        email: user@example.com
        otp: "123456"
    SetRegionPasswordRequest:
      type: object
      properties:
        email:
          type: string
        phone:
          type: string
        region_id:
          type: integer
        password:
          type: string
      required: [region_id, password]
      example:
        email: user@example.com
        region_id: 1
        password: "password123"
    LoginRequest:
      type: object
      properties:
        email:
          type: string
        phone:
          type: string
        password:
          type: string
      required: [password]
      example:
        email: user@example.com
        password: "password123"
    ForgotPasswordRequest:
      type: object
      properties:
        email:
          type: string
        phone:
          type: string
      example:
        email: user@example.com
    ResetPasswordRequest:
      type: object
      properties:
        email:
          type: string
        phone:
          type: string
        otp:
          type: string
        password:
          type: string
      required: [otp, password]
      example:
        email: user@example.com
        otp: "123456"
        password: "newpassword"
    GoogleCompleteRequest:
      type: object
      properties:
        session_id:
          type: string
        region_id:
          type: integer
      required: [session_id, region_id]
      example:
        session_id: "abc123"
        region_id: 1
    UpdateContactRequest:
      type: object
      properties:
        email:
          type: string
        phone:
          type: string
      example:
        email: new@example.com
    ConfirmUpdateContactRequest:
      type: object
      properties:
        email:
          type: string
        phone:
          type: string
        otp:
          type: string
      example:
        email: new@example.com
        otp: "654321"
    ChangePasswordRequest:
      type: object
      properties:
        old_password:
          type: string
        new_password:
          type: string
      required: [old_password, new_password]
      example:
        old_password: "oldpass"
        new_password: "newpass"
    ChangeRegionRequest:
      type: object
      properties:
        region_id:
          type: integer
      required: [region_id]
      example:
        region_id: 2
    AddContactRequest:
      type: object
      properties:
        email:
          type: string
        phone:
          type: string
      example:
        phone: "+998901234567"
    UserProfileResult:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
        phone:
          type: string
        region_id:
          type: integer
        name:
          type: string
        role:
          type: string
        category_id:
          type: integer
  responses:
    SuccessStatus:
      description: Успешный ответ (статус)
      content:
        application/json:
          schema:
            type: object
            properties:
              result:
                type: object
                properties:
                  status:
                    type: string
              success:
                type: boolean
              error:
                type: string
                nullable: true
            example:
              result: { status: "otp sent" }
              success: true
    TokenResponse:
      description: Успешный ответ с токенами
      content:
        application/json:
          schema:
            type: object
            properties:
              result:
                type: object
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
                  accessTokenExpiry:
                    type: integer
                  refreshTokenExpiry:
                    type: integer
              success:
                type: boolean
              error:
                type: string
                nullable: true
            example:
              result:
                accessToken: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                refreshToken: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                accessTokenExpiry: 1712345678
                refreshTokenExpiry: 1712945678
              success: true
    UserProfile:
      description: Профиль пользователя
      content:
        application/json:
          schema:
            type: object
            properties:
              result:
                $ref: '#/components/schemas/UserProfileResult'
              success:
                type: boolean
              error:
                type: string
                nullable: true
            example:
              result:
                id: 1
                email: user@example.com
                phone: "+998901234567"
                region_id: 1
                name: "Иван"
                role: "user"
                category_id: 2
              success: true
    Error:
      description: Ошибка
      content:
        application/json:
          schema:
            type: object
            properties:
              result:
                nullable: true
              success:
                type: boolean
              error:
                type: string
            example:
              result: null
              success: false
              error: "Ошибка"